package template

templ footer() {
<footer>
  <div class="no-print">
    <hr class="footer-hr"/>
    <p class="footer-text">IMS Software © Burning Man Project and its contributors. Data in IMS is confidential and
      proprietary.</p>
  </div>
</footer>
}